<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">

        <ion-icon color="light" slot="start" name="chevron-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="animated fadeIn login auth-page">
  <div class="theme-bg"></div>
  <div class="auth-content">
<br>
  <ion-text class="text15">
    LOGIN:
  </ion-text>
    <br>
    <form [formGroup]="loginFormModel" class="list-form">
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="contact" item-start></ion-icon>{{ 'EMAIL' | translate }}</ion-label>
        <ion-input color="secondary" type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('email').touched && loginFormModel.get('email').invalid">
        <ion-text color="danger">{{ 'EMAIL_REQUIRED' | translate }}</ion-text>
      </p>
      <ion-item no-padding class="animated fadeInUp">
        <ion-label position="floating">
          <ion-icon name="lock" item-start></ion-icon>{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input color="secondary" type="password" formControlName="password"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="loginFormModel.get('password').touched && loginFormModel.get('password').invalid">
        <ion-text color="danger">{{ 'PASSWORD_REQUIRED' | translate }}</ion-text>
      </p>
      <div margin-top="20px">
        <ion-button icon-left size="medium" expand="full" shape="round" color="primary" (click)="onLogin()" [disabled]="!loginFormModel.valid" tappable>
          <ion-icon name="log-in"></ion-icon>
          {{ 'LOGIN_BUTTON' | translate }}
        </ion-button>
        <ion-button icon-left size="medium" expand="full" shape="round" color="tertiary" tappable [routerLink]="['/registrazione']">
          {{ 'SIGNUP_BUTTON' | translate }}
        </ion-button>
      </div>
    </form>
  </div>
</ion-content>
