<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">

        <ion-icon color="light" slot="start" name="chevron-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-align-items-center" *ngFor="let biblioteca of biblioteca$ | async" >

  <ion-card class="bg-tertiary" >

    <ion-card-title>
      <br>
      <ion-list-header >
        <ion-text   class="text-primary">
          {{'SCHEDA' | translate }}
        </ion-text>
      </ion-list-header>
    </ion-card-title>
    <ion-card-content>
      <ion-list class="bg-tertiary">
        <ion-item>
          <ion-label>
            <ion-row>
              <ion-text class="bold">
                {{'BIBLIO' | translate }}
              </ion-text>
            </ion-row>

            <ion-row>
              <ion-text>

                {{biblioteca.nome}}
              </ion-text>
            </ion-row>
          </ion-label>

        </ion-item>
        <ion-item>
          <ion-label>{{'DATE' | translate }}</ion-label>
          <ion-datetime (ionChange)="aggiornaposti()" min="{{event.giorno}}" max="2022" displayFormat="DD MM YYYY" [(ngModel)]="event.giorno"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>
            <ion-row>
              <ion-text class="bold">
                {{'DISP' | translate }}
              </ion-text>
            </ion-row>

            <ion-row>
              <ion-text>

                {{this.posti$}}
              </ion-text>
            </ion-row>
          </ion-label>

        </ion-item>

        <ion-button *ngIf="this.posti$>0" (click)="prenota()" >{{"CONF_PREN_BUTTON" | translate }}</ion-button>
        <ion-text *ngIf="this.posti$===0">{{"ALLERT_POSTI" | translate }}</ion-text>




      </ion-list>



    </ion-card-content>
  </ion-card>


  <ion-item>


  </ion-item>

</ion-content>
