<ion-header>
  <ion-toolbar>
    <ion-title>catalogo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
  <ion-card>
    <img src="assets/images/zeno.jpg"/>
    <ion-card-content>
      <ion-card-title>
        la coscienza di zeno
      </ion-card-title>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/images/zeno.jpg"/>
    <ion-card-content>
      <ion-card-title>
        la coscienza di zeno
      </ion-card-title>
    </ion-card-content>
  </ion-card>
    </ion-list>
</ion-content>
