<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Biblioteche</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card  *ngFor="let biblioteca of biblioteca$ | async">
    <ion-card-header>
      <ion-card-title>{{biblioteca.nome}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ul>
        <li>
          <ion-label><strong>Indirizzo: </strong>{{biblioteca.indirizzo}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Tel: </strong>{{biblioteca.telefono}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Orari: </strong>{{biblioteca.orari}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Posti: </strong>{{biblioteca.posti}}</ion-label>
        </li>
      </ul>
      <ion-button [routerLink]="['/catalogo',biblioteca]" router-direction="forward"> Catalogo </ion-button>
    </ion-card-content>
  </ion-card>




</ion-content>
