<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">

        <ion-icon color="light" slot="start" name="chevron-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [scrollY]="false" *ngFor="let biblioteca of biblioteca$ | async">
  <ion-card >
    <ion-card-header>
      <ion-card-title>
        <ion-text class="text-primary">{{biblioteca.nome}}</ion-text>

      </ion-card-title>
      <br>
      <img   src="{{path$}}{{biblioteca.immagine}}" />
    </ion-card-header>

      <ul>
        <li>
          <ion-label><strong>Indirizzo: </strong>{{biblioteca.indirizzo}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Tel: </strong>{{biblioteca.telefono}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Orari: </strong>{{biblioteca.orari}}</ion-label>
        </li>
        <li>
          <ion-label><strong>Posti: </strong>{{biblioteca.posti}}</ion-label>
        </li>
      </ul>



    <ion-grid>
      <ion-row>
        <ion-col size="6">
          <ion-button  expand="block" [routerLink]="['/catalogo',biblioteca]" router-direction="forward"> Catalogo </ion-button>
        </ion-col>
        <ion-col size="6" >
          <ion-button  expand="block" [routerLink]="['/accesso',biblioteca]" router-direction="forward"> Prenota </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>



</ion-content>
