<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goback()">

        <ion-icon color="light" slot="start" name="chevron-back-outline"></ion-icon>

      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>





<ion-content  >

    <ion-list>


      <ion-row >
        <ion-text  class="text15"> {{"SEARCH" | translate }}</ion-text>
      </ion-row>


      <ion-searchbar   (ionInput)="getItems($event)" [debounce]="500" placeholder="{{this.placeholder}}">

      </ion-searchbar>
      <ion-item >
        <ion-text> {{"ADD_FILTER" | translate }}: </ion-text>
        <ion-select (ionChange)="setfiltro($event.detail.value)" >
          <ion-select-option value="titolo"> {{"TITLE" | translate}}</ion-select-option>
          <ion-select-option value="autore">{{"AUTOR" | translate}}</ion-select-option>
          <ion-select-option value="genere">{{"GENRE" | translate}}</ion-select-option>
        </ion-select>



      </ion-item>


    </ion-list>

  <ion-label [routerLink]="['/libro',libro]" *ngFor="let libro of catalogo$ | async" >

    <ion-item *ngIf="!filtra$ || libro.titolo.toLowerCase().includes(ricercapertitolo$) || libro.autore.toLowerCase().includes(ricercaperautore$) || libro.genere.toLowerCase().includes(ricercapergenere$)">

    <ion-row>
        <ion-col size="3">
          <img   src="http://localhost:80/BiblioAQ_api/copertine/{{libro.immagine}}" />
        </ion-col>
        <ion-col>
          <ion-row>
            <ion-text class="text-primary" >{{libro.titolo}}</ion-text>
          </ion-row>
          <ion-row >
            <ion-text>{{libro.autore}}</ion-text>
          </ion-row>
          <ion-row >
            <ion-text class="bold">{{"BIBLIO" | translate}}</ion-text>
            <ion-text>{{libro.nomebiblioteca}}</ion-text>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-item>
  </ion-label>

</ion-content>

