<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/impostazioni'">
        <ion-icon color="light" slot="end" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-col>
    <ion-item>
      <ion-text class="text-primary">
        {{"PROFILO" | translate}}
      </ion-text>

    </ion-item>



    <img   src="../../assets/images/profilo.jpg" />




    <ion-list >


      <ion-item>
        <ion-text class="text-dark">
          {{"NOME" | translate}}:
        </ion-text>
        <ion-text class="text-dark">
          {{utente.nome }}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text class="text-dark">
          {{"COGNOME" | translate}}:
        </ion-text>
        <ion-text class="text-dark">
          {{utente.cognome}}
        </ion-text>
      </ion-item>
      <ion-item>
        <ion-text class="text-dark">
          {{"EMAIL" | translate}}:
        </ion-text>
        <ion-text class="text-dark">
          {{  utente.email }}
        </ion-text>
      </ion-item>




    </ion-list>
  </ion-col>



</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="'/profilo'" selected="true" >
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>{{"PROFILO" | translate}}</ion-label>

      </ion-tab-button>

      <ion-tab-button  [routerLink]="'/libri-prenotati'" >
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>{{"PRENOTAZIONI" | translate}}</ion-label>
      </ion-tab-button>

      <ion-tab-button   [routerLink]="'/preferiti'" >
        <ion-icon name="star"></ion-icon>
        <ion-label>{{"PREFERITI" | translate}}</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

