<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon color="light" slot="end" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>{{utente.nome}} {{utente.cognome}}</ion-label>
  </ion-item>

  <form [formGroup]="profiloFormModel">
    <ion-list no-lines>


      <ion-item class="animated fadeInUp">
        <ion-label position="floating">{{ 'EMAIL' | translate }}</ion-label>
        <ion-input type="email" formControlName="email"></ion-input>
      </ion-item>
      <p ion-text class="text08" *ngIf="profiloFormModel.get('email').touched && profiloFormModel.get('email').invalid">
        <ion-text color="danger">{{ 'EMAIL_REQUIRED' | translate }}</ion-text>
      </p>
      <ion-item>
        <ion-label position="fixed">{{ 'LANGUAGE' | translate }}</ion-label>
        <ion-select formControlName="linguaPreferita" okText="{{ 'SAVE_BUTTON' | translate }}" cancelText="{{ 'CANCEL_BUTTON' | translate }}">
          <ion-select-option *ngFor="let lingua of lingue" [value]="lingua.valore">{{lingua.etichetta}}</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <div margin-top="30px" align="center">
      <ion-button icon-left size="medium" shape="round" color="primary" (click)="onSubmit()" [disabled]="!profiloFormModel.valid" tappable>
        {{ 'SAVE_BUTTON' | translate }}
      </ion-button>
    </div>
    <div margin-top="30px" align="center">
  <ion-button icon-left size="medium" shape="round" color="primary" (click)="onLogOut()" [disabled]="!profiloFormModel.valid" tappable>
    {{ 'LOGOUT_MENU' | translate }}
  </ion-button>
    </div>
  </form>
</ion-content>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button [routerLink]="'/profilo'" selected="true" >
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Profilo</ion-label>

      </ion-tab-button>

      <ion-tab-button  [routerLink]="'/libri-prenotati'" >
        <ion-icon name="bookmark-outline"></ion-icon>
        <ion-label>Prenotazioni</ion-label>
      </ion-tab-button>

      <ion-tab-button   [routerLink]="'/preferiti'" >
        <ion-icon name="star"></ion-icon>
        <ion-label>Preferiti</ion-label>
      </ion-tab-button>


    </ion-tab-bar>
  </ion-tabs>

