<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="(libro$ | async) as libro">



    <ion-card >
    <ion-slides pager>
      <ion-slide >
        <ion-col>


          <img   src="{{path$}}{{libro.immagine}}" />



          <ion-list>

            <ion-item>
              <ion-text class="text-primary">
                {{libro.titolo}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.autore}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.genere}}
              </ion-text>

            </ion-item>
            <ion-item>
            <ion-text class="text-dark">
              {{libro.casaeditrice}}
            </ion-text>
            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.nomebiblioteca}}
              </ion-text>
            </ion-item>




          </ion-list>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-label>
        <ion-text text-align="center">
          {{libro.descrizione}}
        </ion-text>
          </ion-label>
      </ion-slide>
    </ion-slides>



    </ion-card>
    <ion-row>
      <ion-col>
         <ion-row *ngIf="copie$>0">
           <ion-col>
           <ion-button  [routerLink]="['/prenotazione-libro',libro]" > Prenota </ion-button>
           </ion-col>
             <ion-col>

           <ion-text class="bold">copie rimanenti {{copie$}}
           </ion-text>
             </ion-col>
         </ion-row>
        <ion-row *ngIf="copie$===0">
          <ion-text>
            non ci sono copie disponibili per la prenotazione al momento
          </ion-text>
        </ion-row>


        <ion-button ion-button  large >Aggiungi ai preferiti</ion-button>
      </ion-col>
    </ion-row>





</ion-content>


