<ion-header>
  <ion-toolbar>
    <ion-title>libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let libro of libro$ | async">




    <ion-card >
    <ion-slides pager>
      <ion-slide >
        <ion-col>



          <img   src="http://localhost:80/BiblioAQ_api/copertine/{{libro.immagine}}" />


          <ion-list>

            <ion-item>
              <ion-text class="text-primary">
                {{libro.titolo}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.autore}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.genere}}
              </ion-text>

            </ion-item>
            <ion-item>
            <ion-text class="text-dark">
              {{libro.casaeditrice}}
            </ion-text>
            </ion-item>




          </ion-list>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-label>
        <ion-text class="text-dark">
          {{libro.descrizione}}
        </ion-text>
          </ion-label>
      </ion-slide>
    </ion-slides>



    </ion-card>
    <ion-row>
      <ion-col>
        <ion-button  (click)="showAlert()">Prenota</ion-button>
        copie rimanenti{{copie$}}
      </ion-col>
      <ion-col>
        <ion-button ion-button  large >Aggiungi ai preferiti</ion-button>
      </ion-col>
    </ion-row>







</ion-content>


