<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Libro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngFor="let libro of libro$ | async">




    <ion-card >
    <ion-slides pager>
      <ion-slide >
        <ion-col>


          <img   src="{{path$}}{{libro.immagine}}" />



          <ion-list>

            <ion-item>
              <ion-text class="text-primary">
                {{libro.titolo}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.autore}}
              </ion-text>

            </ion-item>
            <ion-item>
              <ion-text class="text-dark">
                {{libro.genere}}
              </ion-text>

            </ion-item>
            <ion-item>
            <ion-text class="text-dark">
              {{libro.casaeditrice}}
            </ion-text>
            </ion-item>




          </ion-list>
        </ion-col>
      </ion-slide>
      <ion-slide>
        <ion-label>
        <ion-text class="text-dark">
          {{libro.descrizione}}
        </ion-text>
          </ion-label>
      </ion-slide>
    </ion-slides>



    </ion-card>
    <ion-row>
      <ion-col>

        <ion-button  *ngIf="libro.nonprenotato" (click)="prenota(libro.id)" >Prenota </ion-button>
        copie rimanenti{{copie$}}
      </ion-col>
      <ion-col>
        <ion-button ion-button  large >Aggiungi ai preferiti</ion-button>
      </ion-col>
    </ion-row>







</ion-content>


