<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col class="ion-text-center">
        <ion-button>mappa</ion-button>
      </ion-col>
      <ion-col class="ion-text-center">
        <ion-button>biblioteche</ion-button>
      </ion-col>
    </ion-row>
    <ion-col class="ion-text-center">
      <ion-button>profilo</ion-button>
    </ion-col>
    <ion-col class="ion-text-center">
      <ion-button>cerca</ion-button>
    </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
