<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button [routerLink]="'/menu'">
        <ion-icon  color="light" slot="end" name="home"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>
      <ion-img src="../../assets/icon/icon.jpg"></ion-img>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button [routerLink]="'/menu'">
        <ion-icon color="light" slot="end" name="settings-sharp"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>
  <ion-text class="text15">Prenotazioni</ion-text>
  </ion-label>
  <ion-segment mode="md" value="libri" (ionChange)="segmentChanged($event)">
    <ion-segment-button value="libri">
      <ion-label>Libri</ion-label>
    </ion-segment-button>
    <ion-segment-button value="accessi">
      <ion-label>accessi</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-list *ngIf="this.argomento$==='libri'">
    <ion-card *ngFor="let prenotazione of prenotazionilibri$ | async" >


    <ion-row *ngFor="let libro of libri$ | async" >
      <ion-label  *ngIf="prenotazione.libro===libro.id" >
        <ion-row >
<ion-item>
          <ion-col>
            <ion-row>
              <ion-text color="ion-color-primary" class="bold" >{{libro.titolo}}</ion-text>
            </ion-row>
            <ion-row >
              <ion-text>{{libro.autore}}</ion-text>
            </ion-row>
          </ion-col>
</ion-item>
        </ion-row>
<ion-item>
        <ion-list>

          <ion-text class="bold">prenotazione effettua il:</ion-text>
          <br>
          <ion-text>{{this.modificadata(prenotazione.data)}}</ion-text>

          <br>
          <ion-text class="bold">presso la biblioteca:</ion-text>
          <br>
          <ion-text>{{libro.nomebiblioteca}}</ion-text>

        </ion-list>
</ion-item>
      </ion-label>

    </ion-row>

    </ion-card>




  </ion-list>
  <ion-list *ngIf="this.argomento$==='accessi'">

      <ion-card *ngFor="let prenotazione of prenotazioniaccessi$ | async" >

        <ion-row *ngFor="let biblioteca of biblioteche$ | async" >
          <ion-label  *ngIf="prenotazione.biblioteca===biblioteca.id" >

<ion-item>
            <ion-list>
              <ion-text class="bold">prenotazione effettua il:</ion-text>
              <br>
              {{this.modificadata(prenotazione.data)}}
              <br>
              <ion-text class="bold">presso la biblioteca:</ion-text>
              <br>
              <ion-text>{{biblioteca.nome}}</ion-text>

              <br>
              <ion-text>{{biblioteca.indirizzo}}</ion-text>

            </ion-list>
</ion-item>
          </ion-label>

        </ion-row>

      </ion-card>




    </ion-list>
















</ion-content>
<ion-toolbar>
<ion-tabs >
  <ion-tab-bar slot="bottom" >
    <ion-tab-button  [routerLink]="'/profilo'" >
      <ion-icon name="person-circle"></ion-icon>
      <ion-label>Profilo</ion-label>

    </ion-tab-button>

    <ion-tab-button selected="true" [routerLink]="'/libri-prenotati'" >
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Prenotazioni</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/preferiti'" >
      <ion-icon name="star"></ion-icon>
      <ion-label>Preferiti</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>
  </ion-toolbar>
