<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card [routerLink]="['/biblioteche',biblioteca.id]" router-direction="forward" fill="clear"
            *ngFor="let biblioteca of biblioteche | async" button="true">
    <ion-card-header>
      <ion-card-title>{{biblioteca.nome}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>
