<ion-header>
  <ion-toolbar>
    <ion-title>lista</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-button expand="full" fill="clear" >Biblioteca</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" fill="clear" >Biblioteca</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" fill="clear" >Biblioteca</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" fill="clear" >Biblioteca</ion-button>
    </ion-item>
    <ion-item>
      <ion-button expand="full" fill="clear" >Biblioteca</ion-button>
    </ion-item>
  </ion-list>

</ion-content>
