<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row> </ion-row>
  <ion-row >

  </ion-row>
    <ion-row >
      <ion-col class="ion-text-center">
        <ion-card [routerLink]="['/mappa']" router-direction="forward" fill="clear">
          <ion-card-header>
            <ion-card-title>
              Mappa
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="map-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-card [routerLink]="['/lista']" router-direction="forward" fill="clear">
          <ion-card-header>
            <ion-card-title>
              Lista
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="list-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col class="ion-text-center">
        <ion-card [routerLink]="['/profilo']" router-direction="forward" fill="clear">
          <ion-card-header>
            <ion-card-title>
              Profilo
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="person-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>

      <ion-col class="ion-text-center">
        <ion-card [routerLink]="['/cerca']" router-direction="forward" fill="clear">
          <ion-card-header>
            <ion-card-title >
              Cerca
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-icon name="search-outline"></ion-icon>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>


</ion-content>
