<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid  >

    <ion-row >
      <ion-col  >
        <ion-tab-button class="ion-color-primary" [routerLink]="['/mappa']" router-direction="forward" >
<ion-tab-button >
            <ion-text [class.bold]="" class="text1">
              Mappa
            </ion-text>
<br>

            <ion-icon name="map"></ion-icon>
</ion-tab-button>
        </ion-tab-button>
      </ion-col>

      <ion-col [offset]="-1" >
        <ion-tab-button [routerLink]="['/lista']" router-direction="forward" >

            <ion-text>
              Lista
            </ion-text>

          <br>
            <ion-icon name="list"></ion-icon>

        </ion-tab-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col >
        <ion-tab-button [routerLink]="['/profilo']" router-direction="forward" fill="clear">

            <ion-text>
              Profilo
            </ion-text>

          <br>
            <ion-icon name="person"></ion-icon>

        </ion-tab-button>
      </ion-col>

      <ion-col [offset]="-1" >
        <ion-tab-button [routerLink]="['/cerca']" router-direction="forward" fill="clear">

            <ion-text [class.bold]="" class="text1">
              Cerca
            </ion-text>

          <br>
            <ion-icon name="search"></ion-icon>

        </ion-tab-button>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>
